<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="291proj" connectionString="Server= 34.94.59.37; Database = 291_group_project ; User Id= sqlserver; Password=1245;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>