<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="291proj" connectionString="Server= 34.94.59.37; Database = 291_group_project ; User Id= sqlserver; Password=1245;" />
  <add name="_291GroupProject.Properties.Settings._291_group_projectConnectionString"
   connectionString="Data Source=34.94.59.37;Initial Catalog=291_group_project;Persist Security Info=True;User ID=sqlserver;Password=1245"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>